<%- include('../partials/header') %>
<div class="min-h-screen flex items-center justify-center bg-gray-100 ">
  <div class="max-w-4xl max-2xl:max-w-2xl w-full bg-white rounded-lg shadow-xl overflow-hidden">
    <div class="flex flex-col md:flex-row">
      <!-- Columna de la imagen -->
      <div class="w-full md:w-1/2 bg-[#2C3E8C]/90">
        <img src="/public/img/imageLogin.png" alt="Login Image" class="object-cover w-full h-full">
      </div>
      
      <!-- Columna del formulario -->
      <div class="w-full md:w-1/2 py-16 px-8">
        <h2 class="text-3xl font-bold text-gray-800 mb-4">Iniciar sesión</h2>
        <p class="text-gray-600 mb-8">Ingresa tus credenciales para acceder</p>
        
        <form id="loginForm" class="space-y-6">
          <div>
            <label for="login-email" class="text-sm font-medium text-gray-700 block mb-2">Email</label>
            <input id="login-email" type="email" class="w-full px-3 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500" placeholder="tu@email.com" required>
          </div>
          <div>
            <label for="login-pass" class="text-sm font-medium text-gray-700 block mb-2">Contraseña</label>
            <input id="login-pass" type="password" class="w-full px-3 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500" placeholder="********" required>
          </div>
          <div>
            <button type="submit" class="w-full bg-[#2C3E8C] text-white py-2 px-4 rounded-md hover:bg-[#1d2b69] focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 transition duration-200">
              Iniciar sesión
            </button>
          </div>
        </form>
        <div class="text-center flex justify-center items-center h-10">
          <span id="message" class="m-5 mt-10"></span>
        </div>        
      </div>
    </div>
  </div>
</div>
<script defer>

  // Selección del formulario y el elemento span
  const loginForm = $("#loginForm");
  const loginSpan = $("#message");

  // Evento de submit
  loginForm?.addEventListener("submit", async (e) => {
    e.preventDefault(); // Previene el envío por defecto del formulario

    const email = $("#login-email").value;
    const password = $("#login-pass").value;

    // Validación simple
    if (!email || !password) {
      loginSpan.textContent = "Por favor, ingresa todos los campos.";
      loginSpan.style.color = "red";
      return;
    }

    try {
      // Petición fetch
      const response = await fetch("/signin", {
        method: "POST",
        headers: {
          "Content-Type": "application/json",
        },
        body: JSON.stringify({ email, password }),
      });

      // Verificación de respuesta
      if (response.ok) {
        loginSpan.textContent = "¡Bienvenido!";
        loginSpan.style.color = "green";
        setTimeout(() => {
          window.location.href = "/";
        }, 2000);
      } else {
        // Si la respuesta no es exitosa
        loginSpan.textContent = "Correo o contraseña incorrectos.";
        loginSpan.style.color = "red";
        throw new Error("Error en la autenticación");
      }
    } catch (error) {
      // Manejo de errores
      loginSpan.textContent = `Correo o contraseña incorrectos`;
      loginSpan.style.color = "red";
    }
  });
</script>
<%- include('../partials/footer') %>
