<%- include('../partials/header') %>

<h1>
    <%= title %>
</h1>

<h2>Registro de usuarios</h2>
<ul>
    <li>
        <a href="/usuarios">Registro de usuarios</a>
    </li>
    <li>
        <a href="/cobradores">Registro de cobradores</a>
    </li>
    <li>
        <a href="/paginas">Creacion de paginas</a>
    </li>
    <li>
        <a href="/historial">Historial de cambios</a>
    </li>

</ul>
<%- include('../partials/footer') %>
