<footer>
    <div>
      <div>
        <div>
          <section>
            <h3>AVISO LEGAL</h3>
            <p>Ésta página es propiedad del Ilustre Colegio de Abogados de La Paz y todos sus colegiados.</p>
            <p>www.icalp.org.bo</p>
            <div>
              <span>Síguenos en FACEBOOK:</span>
              <a href="https://www.facebook.com/icalp" title="Facebook">
                <span>Facebook</span>
              </a>
            </div>
            <p>La Paz - Bolivia</p>
          </section>
  
          <section>
            <h3>PRESIDENCIA</h3>
            <p>Calle Yanacocha Nº 630 Piso 3</p>
            <p>Teléfono: (+591-2) 2407713- 2406227</p>
            <p>presidencia@icalp.org.bo</p>
          </section>
  
          <section>
            <h3>CENTRO DE CONCILIACIÓN Y ARBITRAJE</h3>
            <p>Calle YANACOCHA Nº 630 Piso 3</p>
            <p>Teléfono: (+591-2) 2407713- 2406227</p>
            <p>conciliacionyarbitraje@icalp.org.bo</p>
          </section>
  
          <section>
            <h3>TRIBUNAL DE HONOR</h3>
            <p>Calle INDABURO casi YANACOCHA Nº 1062 Edificio Antiguo del ICALP</p>
            <p>Teléfono: (+591-2) 2407407</p>
            <p>Email: tribunaldehonor@icalp.org.bo</p>
  
            <section>
              <h3>GERENCIA</h3>
              <p>Calle Yanacocha Nº 630 Piso 3</p>
              <p>Teléfono: (+591-2) 2407713- 2406227</p>
              <p>Email: gerencia@icalp.org.bo</p>
            </section>
          </section>
        </div>
      </div>
  
      <div>
        <p>© <span id="currentYear"></span> Ilustre Colegio de Abogados de La Paz. Todos los derechos reservados.</p>
      </div>
    </div>
  </footer>
  
  <script>
    document.getElementById('currentYear').textContent = new Date().getFullYear();
  </script>
  

</body>
</html>