<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.web>
    <customErrors mode="Off" />
      <trust level="Full" />
  </system.web>
  <system.webServer>
    <handlers>
      <add name="iisnode" path="src/main.js" verb="*" modules="iisnode" resourceType="Unspecified" />
    </handlers>
    <rewrite>
      <rules>
        <rule name="RewriteAllToNode" stopProcessing="true">
          <match url="(.*)" />
          <action type="Rewrite" url="http://localhost:3000/{R:1}" />
        </rule>
      </rules>
    </rewrite>

    <iisnode>
      <logging enabled="true" />
      <maxConcurrentRequestsPerProcess value="5000" />
      <useFullRequestUrl enabled="true" />
      <maxQueueLength value="5000" />
      <node_env value="production" />
    </iisnode>
  </system.webServer>
</configuration>