<%- include('../partials/header', {title, user}) %>
  <div class="px-8">

    <div class="flex flex-col md:flex-row items-center w-full py-4 gap-4">
      <!-- Formulario de búsqueda por texto -->
      <form id="form-search" method="get" class="flex items-center w-full md:w-auto ">
        <input id="search" type="text" name="search" placeholder="Buscar por Matricula o Nombre"
          class="px-4 py-2 border border-gray-300 rounded-l-lg focus:outline-none focus:ring-2 focus:ring-blue-500 w-full md:w-80" />
        <button id="search-button" type="submit"
          class="px-8 py-2 bg-blue-900 text-white rounded-r-lg hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-500">
          Buscar
        </button>
      </form>

      <!-- Formulario de búsqueda por fechas -->
      <form id="form-search-date" method="get" class="flex items-center w-full md:w-auto gap-2">
        <div class="flex flex-col md:flex-row items-start md:items-center gap-2">
          <label for="search-date-inicio" class="text-gray-700">Fecha de inicio</label>
          <input id="search-date-inicio" type="date" name="inicio"
            class="px-4 py-2 border border-gray-300 text-gray-600 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500 w-full md:w-40" />
        </div>
        <div class="flex flex-col md:flex-row items-start md:items-center gap-2">
          <label for="search-date-fin" class="text-gray-700">Fecha de fin</label>
          <input id="search-date-fin" type="date" name="fin"
            class="px-4 py-2 border border-gray-300 text-gray-600 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500 w-full md:w-40" />
        </div>
        <button id="search-button" type="submit"
          class="px-8 py-2 bg-blue-900 text-white rounded-lg hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-500">
          Buscar
        </button>
      </form>
    </div>
    <div>
      <h1 class="py-2 text-gray-500 font-bold" > Total recaudado entre fechas: 
        <span class="py-2 text-gray-500 font-semibold" id="TotalMonto"></span>
      </h1>
    </div>
    <div class="overflow-x-auto shadow-md sm:rounded-lg">
      <table id="result-table" class="w-full text-sm text-left rtl:text-right text-gray-600 ">
        <thead class="text-xs text-gray-200 uppercase bg-blue-950 ">
          <tr>
            <th class="px-4 py-3">Fecha aporte cobrador</th>
            <th class="px-4 py-3">Matricula</th>
            <th class="px-4 py-3">Cobrador</th>
            <th class="px-4 py-3">Nombre</th>
            <th class="px-4 py-3">Recibo</th>
            <th class="px-4 py-3">Talonario</th>
            <th class="px-4 py-3">Fecha Inicio</th>
            <th class="px-4 py-3">Fecha final</th>
            <th class="px-4 py-3">Monto</th>
            <th class="px-4 py-3">Observacion</th>
          </tr>
        </thead>
        <tbody>
          <!-- Aquí se llenarán las filas con los resultados -->
        </tbody>
      </table>
    </div>
    <div id="pagination" class="flex flex-col items-center justify-between py-4 space-y-4">
      <div>
        <span class="text-sm text-gray-700">
          Mostrando
          <span id="start-item" class="font-semibold text-gray-900">
            <span id="current-page">Página 1</span> de
          </span>
          <span id="item-page" class="font-semibold text-gray-900" aria-live="polite"> </span>

        </span>
      </div>
      <div class="inline-flex mt-2 xs:mt-0">
        <button id="prev-page"
          class="flex items-center justify-center px-3 h-8 text-sm font-medium text-white bg-blue-800  rounded-s hover:bg-blue-900  disabled:opacity-50 disabled:cursor-not-allowed">
          Anterior
        </button>
        <button id="next-page"
          class="flex items-center justify-center px-3 h-8 text-sm font-medium text-white bg-blue-800 border-0 border-s border-blue-700 rounded-e hover:bg-blue-900 disabled:opacity-50 disabled:cursor-not-allowed   disabled:opacity-50 disabled:cursor-not-allowed">
          Siguiente
        </button>
      </div>
    </div>
  </div>

  <script defer>
    // Script modificado
    document.addEventListener("DOMContentLoaded", function () {

      const prevPageButton = $("#prev-page");
      const nextPageButton = $("#next-page");
      const currentPageSpan = $("#current-page");
      const itemPage = $("#item-page");
      const resultTableBody = $("#result-table tbody");
      const searchForm = $('#form-search');
      const searchInput = $('#search');
      const searchInicio = $('#search-date-inicio');
      const searchFin = $('#search-date-fin');
      const formDate = $('#form-search-date')
      let page = 1;  // Página actual
      let dateInicio
      let dateFin
      let searchValue = "";  // Guardar el valor de búsqueda actual

      // Actualiza la tabla con los datos
      const updateTable = (data, totalPages, totalMonto) => {
        resultTableBody.innerHTML = ""; // Limpiar tabla antes de llenarla
        console.log(totalMonto);
        $('#TotalMonto').textContent = totalMonto
        if (data.length > 0) {
          data.forEach((item) => {
            const row = document.createElement("tr");
            const fecha = new Date(item.FechaAporte);
            const fechaFormateada = fecha.toLocaleDateString("es-ES", {
              weekday: 'long',
              year: 'numeric',
              month: 'long',
              day: 'numeric'
            });
            const horaFormateada = fecha.toLocaleTimeString("es-ES", {
              hour: '2-digit',
              minute: '2-digit',
              hour12: true
            });
            // Construir la fila
            row.innerHTML = `
          <td class="px-6 py-3 text-wrap" ><p>
            ${fechaFormateada || "No disponible"}</p> <p>${horaFormateada || ""}
            </p></td>
          <td class="px-6 py-3 text-wrap" >${item.Matricula.toString().padStart(5, "0") || "No disponible"}</td>
          <td class="px-6 py-3 text-wrap" >${item.Cobrador || "No disponible"}</td>
          <td class="px-6 py-3 text-wrap" >${item.Nombres || "No disponible"} ${item.Apellidos || "No disponible"}</td>
          <td class="px-6 py-3 text-wrap" >${item.Recibo || 'No disponible'}</td>
          <td class="px-6 py-3 text-wrap" >${item.Talonario || 'No disponible'}</td>
          <td class="px-6 py-3 text-wrap" >${item.FechaInicial || "No disponible"}</td>
          <td class="px-6 py-3 text-wrap" >${item.FechaFinal || "No disponible"}</td>
          <td class="px-6 py-3 text-wrap" >${item.Monto ? item.Monto.toLocaleString('es-BO', { minimumFractionDigits: 2, maximumFractionDigits: 2 }) + " Bs" : "No disponible"}</td>
          <td class="px-6 py-3 text-wrap" > 
            <p><strong>${item.MesesPagados}</strong> Cuotas pagadas</p>
            <p>Faltante: <b style='color:crimson'> ${item.Faltante}</b></p>
            ${item.Observacion || "No disponible"}
          </td>
        `;
            resultTableBody.appendChild(row);
          });
        } else {
          const row = document.createElement("tr");
          row.innerHTML = `<td class="px-6 py-3 text-wrap" colspan="9">No se encontraron resultados</td>`;
          resultTableBody.appendChild(row);
        }

        // Actualizar el estado de los botones de paginación
        prevPageButton.disabled = page === 1;
        nextPageButton.disabled = page === totalPages;
        currentPageSpan.textContent = `Página ${page}`;
        itemPage.textContent = totalPages;
      };

      // Función para obtener los datos desde el servidor y actualizar la tabla
      const fetchAndUpdateTable = async () => {
        const url = `/contribution?search=${searchValue || ""}&page=${page}&inicio=${dateInicio}&fin=${dateFin}&pageSize=10`;
        try {
          const response = await fetch(url);
          if (!response.ok) {
            throw new Error("Error en la solicitud");
          }

          const data = await response.json();
          if (Array.isArray(data.users)) {
            console.log(data);
            totalPages = data.pages; // Actualizar el total de páginas
            totalMonto = data.totalMonto; // Actualizar el total de páginas
            updateTable(data.users, totalPages, totalMonto);
          } else {
            console.error("La estructura de la respuesta no es válida");
          }
        } catch (error) {
          console.error("Error al realizar la solicitud:", error);
        }
      };

      // Llamada inicial para cargar los datos
      fetchAndUpdateTable();

      // Evento de búsqueda
      searchForm.addEventListener("submit", function (event) {
        event.preventDefault();
        searchValue = searchInput.value.trim();
        page = 1; // Volver a la primera página al realizar una nueva búsqueda
        fetchAndUpdateTable();
      });

      formDate.addEventListener("submit", function (event) {
        event.preventDefault();
        dateFin = searchFin.value.trim() || "";
        dateInicio = searchInicio.value.trim() || "";
        page = 1; // Volver a la primera página al realizar una nueva búsqueda
        fetchAndUpdateTable();
      });

      // Evento para cambiar a la página anterior
      prevPageButton.addEventListener("click", function () {
        if (page > 1) {
          searchValue = searchInput.value.trim();
          dateFin = searchFin.value.trim() || "";
          dateInicio = searchInicio.value.trim() || "";
          page--;
          fetchAndUpdateTable();
        }
      });

      // Evento para cambiar a la página siguiente
      nextPageButton.addEventListener("click", function () {
        if (page < totalPages) {
          searchValue = searchInput.value.trim();
          dateFin = searchFin.value.trim() || "";
          dateInicio = searchInicio.value.trim() || "";
          page++;
          fetchAndUpdateTable();
        }
      });
    });
  </script>


  <%- include('../partials/footer',{user}) %>